[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
uvicorn = "*"
psycopg2-binary = "*"
alembic = "*"
pydantic = "*"
aiosqlite = "*"
pytest = "*"
asyncio = "*"
greenlet = "*"
fastapi = {extras = ["standard"], version = "*"}
asyncpg = "*"

[dev-packages]
pytest-asyncio = "*"

[requires]
python_version = "3.13"
